<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar container h-100">
                <div class="left-topbar">
                    <span class="left-topbar-item flex-wr-s-c">
                      <span>
                        {{ location }}
                      </span>
                  
                      <img class="m-b-1 m-rl-8" [src]="weatherIcon" alt="Weather Icon">
                  
                      <span>
                        {{ temperature }}
                      </span>
                    </span>
                  </div>
                  

                <div class="right-topbar">
                    <a href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-pinterest-p"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-vimeo-v"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-youtube"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->		
            <div class="logo-mobile">
                <a href="index.html"><img src="assets/images/icons/logo-01.png" alt="IMG-LOGO" ></a>
            </div>


        </div>
        
        <!--  -->
        <div class="wrap-logo container">
            <!-- Logo desktop -->		
            <div class="logo">
                <a href="index.html"><img src="assets/images/icons/logo-01.png" alt="LOGO"></a>
            </div>	

            <!-- Banner -->
            <div class="banner-header">
                <a href="https://themewagon.com/themes/free-bootstrap-4-html5-news-website-template-magnews2/"><img src="assets/images/banner-01.jpg" alt="IMG"></a>
            </div>
        </div>	
        
        
    	
    </div>
</header>